<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiyanchenghong.backenduser.mapper.FileMapper">

    <select id="findByUid" resultType="com.xiyanchenghong.backenduser.domain.File">
        SELECT * FROM file_entity WHERE uid = #{uid}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO file_entity (uid, filename, url, size, type)
        VALUES (#{uid}, #{filename}, #{url}, #{size}, #{type})
    </insert>

    <delete id = "deleteByUid">
        DELETE FROM file_entity WHERE uid = #{uid}
    </delete>

    <update id = "updateByUid">
        UPDATE file_entity
        SET filename = #{filename}, url = #{url}, size = #{size}, type = #{type}
        WHERE uid = #{uid}
    </update>

</mapper>