<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiyanchenghong.backenduser.mapper.PasswordResetTokenMapper">

    <resultMap id="PasswordResetTokenResultMap" type="com.xiyanchenghong.backenduser.domain.PasswordResetToken">
        <id property="id" column="id"/>
        <result property="token" column="token"/>
        <result property="userId" column="user_id"/>
        <result property="expiryDate" column="expiry_date"/>
    </resultMap>

    <select id="getPasswordResetTokenById" resultMap="PasswordResetTokenResultMap">
        SELECT * FROM password_reset_token WHERE id = #{id}
    </select>

    <select id="getAllPasswordResetTokens" resultMap="PasswordResetTokenResultMap">
        SELECT * FROM password_reset_token
    </select>

    <select id="getPasswordResetTokenByToken" resultMap="PasswordResetTokenResultMap">
        SELECT * FROM password_reset_token WHERE token = #{token}
    </select>

    <insert id="insertPasswordResetToken" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO password_reset_token(token, user_id, expiry_date)
        VALUES(#{token}, #{userId}, #{expiryDate})
    </insert>

    <update id="updatePasswordResetToken">
        UPDATE password_reset_token
        SET token=#{token}, user_id=#{userId}, expiry_date=#{expiryDate}
        WHERE id=#{id}
    </update>

    <delete id="deletePasswordResetToken">
        DELETE FROM password_reset_token WHERE id=#{id}
    </delete>

    <insert id="save">
        INSERT INTO password_reset_token (token, user_id, expiry_date)
        VALUES (#{token}, #{userId}, #{expiryDate})
    </insert>

    <select id="findByToken" resultMap="PasswordResetTokenResultMap">
        SELECT * FROM password_reset_token WHERE token = #{token}
    </select>
</mapper>