.ant-table-wrapper .ant-table-pagination-right {
  display: flex;
  justify-content: center;
}

.ant-menu-dark .ant-menu-item-selected,
.ant-menu-dark>.ant-menu .ant-menu-item-selected {
  background-color: #4154f1
}

.ant-btn-variant-solid,
.ant-btn-color-primary {
  background-color: #4154f1;
}
