
.ant-layout {
  height: 100%;
}

.header {
  padding: 0;
  background-color: white;
}

.logo {
  height: 32px;
  margin: 16px;
  background: url('~@/assets/images/logo.png') no-repeat center / 160px auto;

}

.layout-content {
  overflow-y: auto;
  scrollbar-width: none; // 兼容 Firefox
  -ms-overflow-style: none; // 兼容 IE/Edge

  &::-webkit-scrollbar {
    display: none; // 兼容 Chrome/Safari/Webkit
  }

  background: #fff;
  border-radius: 4px;
  padding: 24px;
  min-height: 280px;
}

.user-info {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 20px;
  color: black;

  .user-name {
    margin-right: 10px;
    color: black;
  }

  .user-logout {
    display: inline-block;
    cursor: pointer;
  }
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}

.ant-layout-header {
  padding: 0 !important;

}

.ant-menu-light .ant-menu-submenu-selected>.ant-menu-submenu-title{
  color: black;
}

.ant-menu-dark .ant-menu-item-selected,
.ant-menu-dark > .ant-menu .ant-menu-item-selected {
  background-color: #4154f1;
}

.ant-menu-light .ant-menu-item-selected,
.ant-menu-light>.ant-menu .ant-menu-item-selected {
  background-color: #ebebff
}

.ant-btn-variant-solid {
  background-color: #4154f1;

  &:hover {
    background-color: #6371f2;
  }
}

.Menu {
  height: 100%;
  borderRight: 0
}

.ant-card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
}